<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    
    </head>
    <body>
        <h1>Игры</h1>
        <ul>
            <li>{{game}} 1 <button>Купить</button> </li>
            <li>{{game}} 2 <button>Купить</button> </li>
            <li>{{game}} 3  <button>Купить</button> </li>
            <li>{{game}} 4  <button>Купить</button> </li>
            <li>{{game}} 5  <button>Купить</button> </li>
            <li>{{game}} 6  <button>Купить</button> </li>
            <li>{{game}} 7  <button>Купить</button> </li>
        </ul>
        <button><a href="/platform">{{back}} </a></button>
    </body>
</html>